Untitled6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="family" >
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element name="father">
					<xs:complexType mixed="true">
						<xs:sequence>
							<xs:element name="ssn" type="xs:integer"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
