Untitled5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="family">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="father" minOccurs="1" maxOccurs="3">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
